<div class="card m-3">
    <a id="review-card" href="/review/{{id}}">

        <i class="fa-solid fa-book-bookmark fa-3x"></i>

        <div class="card-body">
            <h3 class="title card-title">{{book_title}}</h3>
            <p><em>{{author}}</em></p>
            <p class="card-text">{{review_text}}</p>
            <p class="text-end"><em>- {{user.username}}</em></p>
        </div>
    </a>
</div>